.depositform {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 2.5rem;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 .625rem .9375rem rgba(0, 0, 0, .6);
    border-radius: .625rem;
    vertical-align: middle;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.depositform .depositdetail {
    position: relative;
}

.depositform .depositdetail input {
    width: 100%;
    padding: .625rem 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: .0625rem solid #fff;
    outline: none;
    background: transparent;
}

.depositform .depositdetail label {
    position: absolute;
    top: 0;
    left: 0;
    padding: .625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    font-family: 'Roboto Condensed Bold';
}

.depositdetail input:focus~label,
.depositdetail input:valid~label {
  top: -1.25rem;
  left: 0;
  color: #228AE3;
  font-size: .875rem;
}

input[type=submit] {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.6em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed Bold';
  font-size: 1.2rem;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #228AE3;
  text-align: center;
  transition: all 0.75s;
  max-width: 30em;
  min-width: 20em;
  box-shadow: .3125rem .3125rem .3125rem rgba(0, 0, 0, 0.4);
}

input[type=submit]:hover {
  color: #228AE3;
  background-color: #FFFFFF;
}

.depositsubmit input {
  font-family: 'Roboto Condensed Bold';
}

::placeholder {
    opacity: 0;
  }
  
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }