.acc-header {
    position: absolute;
    top: 10%;
    min-width: 100%;
    min-height: 15%;
    left: 0;
    background-color: rgba(13, 18, 26, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

acc-header {
    position: absolute;
    display: block;
    padding: 10px;
    overflow: hidden;
    left: 0;
}

table.acc-head{
    min-width: 100%;
    border-spacing: 10em;
}

tr.acc-head-tr{
    width:100%;
}

td.acc-head-td{
    min-width:50%;
    font-size: 1.75em;
    color: white;
    font-family: 'Roboto Condensed Bold';
}