ul.buttonul {
    list-style-type: none;
}

li.button-item {
    margin: .3125em 0 0 0;
}

li.button-item2 {
    margin: 1em 0 0 0;
}

a.leadingbutton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.6em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed Bold';
    font-weight: 300;
    color: #FFFFFF;
    background-color:rgba(13, 18, 26, 0.9);
    text-align: justify;
    transition: all 0.75s;
    max-width: 30em;
    min-width: 20em;
    box-shadow: .3125rem .3125rem .3125rem rgba(0, 0, 0, 0.4);
}

a.leadingbutton:hover {
    color: rgba(13, 18, 26, );
    background-color: #228ae3;
}

a.leadingbutton2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.6em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed Bold';
    font-weight: 300;
    color: #FFFFFF;
    background-color:#228AE3;
    text-align: center;
    transition: all 0.75s;
    max-width: 30em;
    min-width: 20em;
    box-shadow: .3125rem .3125rem .3125rem rgba(0, 0, 0, 0.4);
}

a.leadingbutton2:hover {
    color: #228AE3;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    a.leadingbutton a.leadingbutton2 {
        display: block;
        margin: 0.4em auto;
    }
}